html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: lightgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    background: white;
    margin: 20px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
}
